.container {
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 100%;
  z-index: 1;
}

.item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 55px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  color: #222;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.item:hover {
  background: #6a994e;
  color: white;
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.item:active {
  background: #527846;
  transform: scale(0.95);
}

.item + .item {
  border-top: none;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 100px;
    right: 0;
    width: 100%;
    padding-right: 10px;
    gap: 10px;
  }

  .item {
    width: calc(50% - 20px);
    height: 45px;
    font-size: 16px;
    text-align: center;
  }
}
